{{ $sessionID := .UploadSessionID }}
{{ $successIDs := .UploadSuccessIDs }}
{{ $token := .ShareToken }}
{{ $canManageShare := .CanManageShare }}
{{ $T := .T }}
{{ $TS := .TS }}
{{ range .Files }}
    {{ template "_file_row.html" (dict "File" . "ShareToken" $token "UploadSessionID" $sessionID "UploadSuccessIDs" $successIDs "CanManageShare" $canManageShare "T" $T "TS" $TS "IsNew" false) }}
{{ else }}
<tr id="no-files-row">
    <td colspan="3" style="padding: 2rem; text-align: center; color: var(--footer-text);">
        {{ call .T "guest.no_files" }}
    </td>
</tr>
{{ end }}
